@import "../global.module.css";

.btn {
  font-size: 19px;
  color: white;
  background-color: var(--green);
  border: none;
  padding: 8px 10px 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0);
  box-shadow: 0 2px 0 #002d18;
  cursor: pointer;
}

.btn:hover:enabled {
  background-color: var(--dark-green);
}

.btn:focus:enabled {
  color: var(--text-primary);
  background-color: var(--yellow);
  border-color: var(--yellow);
  outline: 3px solid rbga(0, 0, 0, 0);
}

.btn:focus-visible:enabled {
  outline: none;
}

.btn:disabled {
  opacity: 0.5;
  cursor: default;
}

.secondary {
  color: var(--text-primary) !important;
  background-color: var(--light-grey);
  box-shadow: 0 2px 0 #929191;
}

.secondary:hover:enabled {
  background-color: #dbdad9;
}

.warning {
  color: var(--white);
  background-color: var(--red);
  box-shadow: 0 2px 0 #002d18;
}

.warning:hover:enabled {
  background-color: var(--dark-red);
}

.link {
  background-color: rgba(0, 0, 0, 0);
  color: var(--link-color);
  text-decoration: underline;
  box-shadow: none;
  text-underline-offset: 2px;
}
.link:hover:enabled {
  color: var(--link-hover-color);
  background-color: rgba(0, 0, 0, 0);
  text-decoration-thickness: 3px;
}

.link:focus:enabled {
  text-decoration: none;
  box-shadow: 0 2px 0 #002d18;
}
